

<div class="container__articles">

  <div class="articles__main">

    <app-big-card
    Id="1"
    photoCover="https://media.licdn.com/dms/image/D4D12AQFOdgCZsbM1ew/article-cover_image-shrink_600_2000/0/1688956655167?e=2147483647&v=beta&t=lgoW0GRE47Xzs7ZAnV5o6Aj-UaD1Rf3baE7HmNElq8Q"
    cardTitle="SAIU NOVA NOTICIA"
    cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis risus orci. Fusce diam erat, tempus id arcu sed, cursus pretium felis. Quisque egestas nibh quis ante sagittis, id iaculis ex lobortis."
    ></app-big-card>

    <app-big-card
    Id="2"
    photoCover="https://grldcxp3prmj.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/icons-maxters/posts/cover/uploads/covers/css.jpg"
    cardTitle="USE CSS STYLE"
    cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis risus orci. Fusce diam erat, tempus id arcu sed, cursus pretium felis. Quisque egestas nibh quis ante sagittis, id iaculis ex lobortis."
    ></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
    Id="3"
    photoSmall="https://media.licdn.com/dms/image/D4D12AQFOdgCZsbM1ew/article-cover_image-shrink_600_2000/0/1688956655167?e=2147483647&v=beta&t=lgoW0GRE47Xzs7ZAnV5o6Aj-UaD1Rf3baE7HmNElq8Q"
    dataSmall="26 de Fevereiro"
    descriptionSmall="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis risus orci. Fusce diam erat."
    ></app-small-card>

    <app-small-card
    Id="4"
    photoSmall="https://grldcxp3prmj.compat.objectstorage.sa-saopaulo-1.oraclecloud.com/icons-maxters/posts/cover/uploads/covers/css.jpg"
    dataSmall="27 de Fevereiro"
    descriptionSmall="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis risus orci. Fusce diam erat."
    ></app-small-card>

    <app-small-card
    Id="5"
    photoSmall="https://andrebtoe.files.wordpress.com/2016/05/positronx-banner-1152-1.jpg"
    dataSmall="27 de Fevereiro"
    descriptionSmall="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis risus orci. Fusce diam erat."
    ></app-small-card>


  </div>

</div>


